language: php

php:
  - 5.4
  - 5.5
  - 5.6

before_script:
  - composer self-update
  - composer install --prefer-source --no-interaction --dev

script:
  - php ./vendor/bin/phpspec --config="./phpspec.yml" run
  - php ./vendor/bin/codecept run